<div class="flex w-12/12 bg-gradient-to-br from-yellow-400 to-yellow-800 p-1 rounded-lg justify-center items-center mb-5">
    <div class="flex w-12/12 bg-black rounded-lg h-64 justify-center items-center">
        <div class="w-1/2 flex rounded-lg justify-center items-center"><img src="/assets/images/MermaidGin.png" alt="ginNameHere" class="h-52" /></div>
        <div class="h-5/6 w-96 border-l-2 border-yellow-600 border-dashed flex flex-auto pl-5  items-left flex-col text-left">
            <p><b>Name: </b> Mermaid Gin</p>
            <p><b>Kr/L:</b> 497</p>
            <p><b>Avg Points:</b> 7.4</p> <!-- Dette laver vi om til iconer der farves tænker jeg :) -->
            <p><b>Kr/L/Points:</b> 67.1</p> <!-- Husk at vi laver det om til 1 decimal -->
            <p><b>Antal Stemmer:</b> 10</p>
            <!-- Skal kun vises hvis man er logget ind evt ændres til stjerner man kan trykke op af :) -->
            <button class="bg-yellow-600 w-6/12 rounded-lg mt-5 p-2 border-black uppercase bottom-0 hover:bg-yellow-800">Stem her</button>
        </div>
    </div>
</div>
