.menu {
    display: flex;
    align-items: center;
}

.burger {
    padding: 0 10px;
    border-left: 1px solid #eee;
    display: none;
    cursor: pointer;
  }

  .burger i {
    color: #999;
    line-height: 60px;
      
  }


@media (max-width: 786px){
    .burger{
        display: block;
    }

    .hide {
        display: none;
    }

    .menu {
        display: none;
    }

    .is-open {
        display: flex;
        justify-content: center;
        background: #3c3c3c;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        padding: 12px 0;
    }
}