<div class="w-full" style="height: 80svh;">
    <div class="w-full flex mt-10 items-center flex-col">
        <h2 class="text-yellow-600 font-Roboto font-bold text-6xl">PODIUM</h2>
    </div>

    <div class="podium">
        <div *ngIf="ginTwo">
            <img [src]="ginTwo.img" class="w-24 mb-5">
            <div class="box second">
                <h1>{{ginTwo.name}}</h1>
                <span>2</span>
            </div>
        </div>
        <div *ngIf="ginOne">
            <img [src]="ginOne.img" class="w-24 mb-5">
            <div class="box first">
                <h1>{{ginOne.name}}</h1>
                <span>1</span>
            </div>
        </div>
        <div *ngIf="ginThree">
            <img [src]="ginThree.img" class="w-24 mb-5">
            <div class="box third">
                <h1>{{ginThree.name}}</h1>
                <span>3</span>
            </div>
        </div>
    </div>
</div>