<div
  class="w-full flex flex-col mt-20 justify-center items-center"
  style="min-height: 700px"
>
  <div
    class="w-3/12 h-80 bg-gradient-to-br from-yellow-400 p-2 to-yellow-700 rounded-xl"
  >
    <div
      class="w-12/12 h-full bg-gray-900 rounded-xl items-center flex flex-col"
    >
      <h1 class="text-white font-Roboto text-4xl font-bold uppercase mt-4">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-6/12 flex flex-col text-white mt-4">
        <label for="email">Email</label>
        <input class="text-gray-300 mb-4 bg-gray-900 border-b-2 border-yellow-600 focus:outline-none" type="email" id="email" name="email" formControlName="email" />
        <label for="password">Password</label>
        <input
        class="text-gray-300 bg-gray-900 border-b-2 border-yellow-600 focus:outline-none"
          type="password"
          id="password"
          name="password"
          formControlName="password"
        />
        <button type="submit" [disabled]="!loginForm.valid" class="w-5/12 text-gray-100 mt-4 bg-gradient-to-b from-yellow-400 p-2 to-yellow-700 rounded-lg hover:bg-gradient-to-t hover:from-slate-800 hover:to-gray-500">Login</button>
        <div class="flex flex-col mt-2 justify-between">
            <a href="#" class="w-auto text-sm text-blue-700 mt-2">Register?</a>
            <p>{{ loginError }}</p>
        </div>
      </form>
      <!-- 
      <div class="w-6/12 flex flex-col text-white mt-4">
        <input
          class="text-gray-300 mb-4 bg-gray-900 border-b-2 border-yellow-600 focus:outline-none"
          type="input"
          id="username"
          name="username"
          required
          alt="username"
          placeholder="Username"
        />
        <input
          class="text-gray-300 bg-gray-900 border-b-2 border-yellow-600 focus:outline-none"
          type="password"
          alt="password"
          placeholder="Password"
        />
        <div class="flex flex-col mt-2 justify-between">
          <button
            class="w-5/12 text-gray-100 bg-gradient-to-b from-yellow-400 p-2 to-yellow-700 rounded-lg hover:bg-gradient-to-t hover:from-slate-800 hover:to-gray-500"
          >
            Log-in
          </button>
          <a href="#" class="w-auto text-sm text-blue-700 mt-2">Register?</a>
        </div>
      </div> -->
    </div>
  </div>
</div>
