.width {
    width: 1410px;
}

.height {
    height: 500px;
}

.heightInner {
    height: 494px;
}

.gin-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 130px;
    margin: auto 0;
    line-height: 2;
}