<div *ngIf="event" class="grid text-white font-Roboto bg-gray-700">
    <div class="header">
      <span class="text-4xl">Event Code: {{event.code}}</span>
    </div>
    <div class="main-content">
      <div class="next-button" (click)="nextItem()">&#11166;</div>
      <div class="prev-button" (click)="previousItem()">&#11164;</div>
      <div class="carousel flex relative overflow-hidden justify-center items-center">
        <div *ngFor="let item of event.gins let i = index" [ngClass]="{ 'active w-full': activeItemIndex === i }">
          <app-gin-render-big [gin]="item"></app-gin-render-big>        
          </div>
        </div>
    </div>
    <div class="highest-vol text-2xl">
      <h1>Highest Vol%</h1>
      <ol class="list-decimal">
        <li *ngFor="let gin of highestVol">{{gin.name}} - {{gin.vol}}%</li>
      </ol>
    </div>
    <div class="best-PpL text-2xl">
      <h1>Best Kr/L</h1>
      <ol class="list-decimal">
        <li *ngFor="let gin of bestPriceLiter">{{gin.name}} - {{gin.valuePerLiter}}</li>
      </ol>
    </div>
    <div class="best-PpLP text-2xl">
      <h1>Best Kr/L/Points</h1>
      <ol class="list-decimal">
        <li *ngFor="let gin of bestPriceLiterPoints">{{gin.name}} - {{gin.valueLiterPoint | number: '1.0-1'}}</li>
      </ol>
    </div>
    <div class="list">
      <div class="flex flex-col items-center">
        <div class="flex p-10 justify-center w-11/12">
            <span class="text-4xl">Rank List</span>
        </div>

        <table class="table-auto w-full">
            <thead class="border-b-2 border-white border-solid">
              <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>AVG</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gin of sortedGins; let i = index" style="line-height: 1.8;">
                <td>{{i + 1}}</td>
                <td class="text-left">{{gin.name}}</td>
                <td class="text-left">{{gin.avgPoints | number: '1.0-2'}}</td>
              </tr>
            </tbody>
          </table>
          <button (click)="finishEvent()" class="mt-auto mb-10 bg-yellow-600 block rounded-lg p-4 w-40 border-black border-1 hover:bg-yellow-800">Finish Event</button>
      </div>
    </div>
</div>
