<div class="flex">
    <div class="fixed top-0 left-0 h-screen w-16 flex flex-col bg-primary text-secondary shadow-lg">
        <div class="sidebar-icon group" routerLink="">
            <span class="material-icons">
                home
            </span>
            <span class="sidebar-tooltip group-hover:scale-100">
                home
            </span>
        </div>
        <div class="sidebar-icon group" routerLink="/admin">
            <span class="material-icons">
                dashboard
            </span>
            <span class="sidebar-tooltip group-hover:scale-100">
                Dashboard
            </span>
        </div>
        <div class="sidebar-icon group" routerLink="gin">
            <span class="material-icons">
                add
            </span>
            <span class="sidebar-tooltip group-hover:scale-100">
                Add New Gin
            </span>
        </div>
        <div class="sidebar-icon group" routerLink="event">
            <span class="material-icons">
                event
            </span>
            <span class="sidebar-tooltip group-hover:scale-100">
                Create An Event
            </span>
        </div>
        <div class="sidebar-icon group">
            <span class="material-icons">
                view_list
            </span>
            <span class="sidebar-tooltip group-hover:scale-100">
                See All Gins
            </span>
        </div>
        <div class="sidebar-icon group">
            <span class="material-icons">
                settings
            </span>
            <span class="sidebar-tooltip group-hover:scale-100">
                Settings
            </span>
        </div>
        <div class="sidebar-icon group">
            <span class="material-icons">
                logout
            </span>
            <span class="sidebar-tooltip group-hover:scale-100">
                Logout
            </span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>