<!-- For each gin in the DB print this -->
<div class="w-full flex justify-center items-center">
    <table class="table-auto text-white border-collapse border border-slate-700">
        <thead>
            <tr>
                <th class="border border-slate-600">Name</th>
                <th class="border border-slate-600">Brand</th>
                <th>Variant</th>
                <th>Country</th>
                <th>Vol %</th>
                <th>Rating</th>
                <th>Num/Votes</th>
                <th>Vote</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mermaid Gin</td>
                <td>Isle of Wight Distillery</td>
                <td>Plain</td>
                <td>GB</td>
                <td>42</td>
                <td>7.4</td>
                <td>11</td>
                <td>Button</td>
            </tr>
        </tbody>
    </table>

</div>