<!-- For each gin in the DB print this -->
<div class="w-full flex justify-center items-center mt-10">
    <table class="table-auto text-white border-collapse border border-slate-700">
        <thead>
            <tr class="border border-slate-600">
                <th class="border border-slate-600 p-2">Name</th>
                <th class="border border-slate-600 p-2">Brand</th>
                <th class="border border-slate-600 p-2">Country</th>
                <th class="border border-slate-600 p-2">Variant</th>
                <th class="border border-slate-600 p-2">Vol %</th>
                <th class="border border-slate-600 p-2">Price: </th>
                <th class="border border-slate-600 p-2">Kr/L: </th>
                <th class="border border-slate-600 p-2">Avg Points: </th>
                <th class="border border-slate-600 p-2">Kr/L/Points: </th>
                <th class="border border-slate-600 p-2">Votes: </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gin of gins | async" class="border border-slate-600 p-2">
                <td class="border border-slate-600 p-2">{{gin.name}}</td>
                <td class="border border-slate-600 p-2">{{gin.brand}}</td>
                <td class="border border-slate-600 p-2">{{gin.country}}</td>
                <td class="border border-slate-600 p-2">{{gin.variant}}</td>
                <td class="border border-slate-600 p-2">{{gin.vol}}</td>

                <td class="border border-slate-600 p-2">{{gin.price}}</td>
                <td class="border border-slate-600 p-2">{{gin.valuePerLiter | number: '1.0-2'}}</td>
                <td class="border border-slate-600 p-2">{{gin.avgPoints | number: '1.0-2'}}</td>
                <td class="border border-slate-600 p-2">{{gin.valueLiterPoint | number: '1.0-2'}}</td>
                <td class="border border-slate-600 p-2">{{gin.votes}}</td>
            </tr>
        </tbody>
    </table>

</div>